<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../statics/css/pure-min.css">
    <link rel="stylesheet" href="../../statics/css/grids-responsive-min.css">
    <link rel="stylesheet" href="../../statics/css/detail_prueba.css">
    <script src="../../statics/fontawesome-free-5.9.0-web/js/all.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../statics/fontawesome-free-5.9.0-web/css/all.min.css">
  </head>
  <body class="pure-g">
    <!-- content -->
  <div class="content-full pure-u-1">

  <div class="indicadores pure-u-1">
    <h1>mediciones jun/2019 - ago/2019</h1>
    <ul>
      <li>responsable: xxxx</li>
      <li>porcentaje de equipos completados: xx%</li>
      <li>porcentaje de equipos en buen estado: xx%</li>
    </ul>
  </div>

  <div class="lista-equipos pure-u-1">
    <table class="pure-table">
      <thead>
        <th>equipo</th><th>estado</th>
        <th>editar</th><th>ver detalle</th><th>subir mediciones</th><th>excluir</th>
      </thead>
      <tbody>
        <tr>
          <td>haceb-j3445</td><td>pendiente de calibrar</td>
          <td><button class="pure-button" type="button" name="button"><i class="fas fa-edit"></i></button></td>
          <td><button class="pure-button" type="button" name="button"><i class="fa fa-id-card"></i></button></td>
          <td><button class="pure-button" type="button" name="button"><i class="fa fa-file-upload"></i></button></td>
          <td><button class="pure-button" type="button" name="button"><i class="fas fa-ban"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>
    <!-- content -->
  </body>
  <!-- scripts -->
  <script src="../statics/js/detail_prueba.js" charset="utf-8"></script>
  <!-- scripts -->
</html>
