<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Resultados validacion cadena de frio</title>
    <link rel="stylesheet" href="../statics/css/pure-min.css">
    <link rel="stylesheet" href="../statics/css/grids-responsive-min.css">
    <link rel="stylesheet" href="../statics/css/detail_prueba.css">
    <link rel="stylesheet" href="../statics/fontawesome-free-5.9.0-web/css/all.min.css">
    <link rel="stylesheet" href="../statics/fontawesome-free-5.9.0-web/js/all.min.js">
  </head>
  <body class="pure-g">

<!-- content -->

<div class="content-full pure-u-1">

  <h2>Equipo: f061354453</h2>
  <ul>
    <li>Archivo de medicion: faRMACIA central haceb niveles arriba 2 por bandfeja t1 t2 abajo abajoa nevera.TXT</li>
    <li>Fecha: 12 julio 2019</li>
  </ul>
  <img src="e00016219901370164_91370450a419040c6e2b.png" alt="" style="width: 600px;">
  <table class="pure-table">
    <thead>
      <th>Sensor</th>
      <th>Promedio</th>
      <th>Desviacion</th>
      <th>Incertidumbre</th>
      <th>Incertidumbre Combinada</th>
      <th>Error Promedio</th>
    </thead>
    <tbody>

      <tr>
        <td>1</td>
        <td>5.536297903109183</td>
        <td>1.605850170099868</td>
        <td>0.043181122927765575</td>
        <td>0.04336599332775397</td>
        <td>3.082614905683732e-16</td>
      </tr>

      <tr>
        <td>2</td>
        <td>5.466160520607376</td>
        <td>1.4771081145407892</td>
        <td>0.03971926413758711</td>
        <td>0.039920169634301575</td>
        <td>9.864367698187942e-16</td>
      </tr>

      <tr>
        <td>3</td>
        <td>5.6204627621113525</td>
        <td>1.8520963682319078</td>
        <td>0.04980265434459337</td>
        <td>0.049963030129957536</td>
        <td>4.1358416651256737e-16</td>
      </tr>

      <tr>
        <td>4</td>
        <td>6.689443239334779</td>
        <td>1.0008621992730498</td>
        <td>0.0269130672744367</td>
        <td>0.02720869695737662</td>
        <td>-1.3357997924629505e-16</td>
      </tr>

      <tr>
        <td>total</td>
        <td>5.828091106290673</td>
        <td>1.5963836708859949</td>
        <td>0</td>
        <td>0</td>
        <td>3.9367561191335996e-16</td>
      </tr>

    </tbody>
  </table>

</div>

<!-- content -->

  </body>
  <!-- script -->
  <script src="detail_equipo.js" charset="utf-8"></script>
  <!-- script -->
</html>
