<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../statics/css/pure-min.css">
    <link rel="stylesheet" href="../statics/css/grids-responsive-min.css">
    <link rel="stylesheet" href="../statics/css/detail_prueba.css">
    <link rel="stylesheet" href="../statics/fontawesome-free-5.9.0-web/css/all.min.css">
    <link rel="stylesheet" href="../statics/fontawesome-free-5.9.0-web/js/all.min.js">
  </head>
  <body class="pure-g">
    <!-- content -->
  <div class="content-full pure-u-1">

  <div class="indicadores pure-u-1">
    <h1>lista de rondas de mediciones</h1>
  </div>

  <div class="lista-equipos pure-u-1">
    <table class="pure-table">
      <thead>
        <th>periodo</th><th>estado</th>
        <th>ver detalle</th>
      </thead>
      <tbody>
        <tr>
          <td>junio 2019 a agosto 2019</td><td>pendiente de calibrar</td>
          <td><button class="pure-button" type="button" name="button">ver detalle</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>
    <!-- content -->
  </body>
  <!-- scripts -->
  <script src="../statics/js/detail_prueba.js" charset="utf-8"></script>
  <!-- scripts -->
</html>
